@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header{
    max-height: 50px;
    background-color: black;
    width: 100%;
}

.contacts{
    display: flex;
    max-width: 50%;
    justify-content: space-evenly;
}

.contactElem{
    display: flex;
    gap: 10px;
}

.contactName{
    color: #D0D6DE;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    
}
