@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.schedule{
    display: flex;
    flex-direction: column;
    margin: 65px auto 0 auto;
    align-items: center;
    width: 1200px;
}

.hr{
    width: 30px;
    height: 2px;
    background-color: black;
    border: none;
    margin: 10px auto;
}


.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.schedule img{
    width: 80%;
    height: auto;
}